@font-face {
    font-family: 'Futura-Light';
    src: url('./fonts/futura-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Futura-MD-BT';
    src: url('./fonts/futura-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
