@font-face {
    font-family: "Futura";
    src: url("../public/fonts/futura\ light\ bt.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Futura MD BT";
    src: url("../public/fonts/futura\ medium\ bt.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  