@font-face {
  font-family: 'Futura-Light';
  src: url('./fonts/FuturaLT-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }
  
  @font-face {
    font-family: 'Futura-MD-BT';
    src: url('./fonts/FuturaLT.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  